body {
  margin: 0;
  text-align: center;
  font-family: 'Poor Story', cursive;
}

h1 {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  font-family: 'La Belle Aurore', cursive;
}
h2 {
  font-family: 'Poor Story', cursive;
}

h3 {
  font-family: 'Poor Story', cursive;
}

.top-container {
  background-color: #F0D9E7;
  padding-top: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
padding-top: 100px;
  background-color: #F0D9E7;
}

.sam-pic{
  border-radius: 100%;
  width: 20%;

}

.whinnie{
  width: 20%;
}

.hugcat{
  width: 30%;
}
  .stylocat{
    width: 30%;

}
.bottom-container {
    background-color: #F0D9E7;
}

.knife{
  width: 30%;
}
